html,body{
    margin:0;
    height: 100%;
    background-color: #111111;
    margin: 0;
}

.bg{
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .5s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}


.header-container{
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -25px;
    width: 100%;
    max-height: max-content;
    padding-left: 50px;
    gap: 20px;
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 20px;
    text-shadow:5px 5px #64485C;
    text-decoration: underline #64485C;
    
    background-color: #83677B;
    font-family: 'Jim Nightshade';
    border-bottom: solid 3px #64485C;
    
}

.gotham-logo{
    display: flex;
    flex-grow: 2;
    width: 80px;
    margin-bottom: -30px;
}

.official-web{
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    margin-top: -35px;
    text-decoration: underline yellow;
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.description{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: bolder;
    padding: 0px 25px;

    text-decoration: underline #64485C;
    text-shadow: none;
    font-size: 25px;
    letter-spacing: 2px;
}

#content{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    font-size: 20px;
    color: white;
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.tab-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    flex: 1 1 auto;
}

button{
    font-family: 'Jim Nightshade';
    border: 4px solid #3a3737;
    color: #ffee00;
    position: relative;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    z-index: 0;
    transition: 1s;
}

/* button.tab-home-button{
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

button.tab-menu-button,
button.tab-contact-button{
    margin: 0.5rem 2rem;
}

button.tab-menu-button{
    padding-left: 45px;
    padding-right: 48px;
}

button.tab-contact-button{
    padding-left: 35px;
    padding-right: 40px;
}
  */


.tab-home-button:hover,
.tab-menu-button:hover,
.tab-contact-button:hover{
    background-color: #64485C;
    color:#ffee00;
    text-decoration: underline;
    border-radius: 20px;
    text-shadow:2px 2px 2px 2px #111111;
}

.home-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
    margin-top: 50px;
}

.first-row,
.second-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 30px;
    margin: 0px 30px;
}

.second-row{
    margin-bottom: 50px;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    flex:1 0.5 200px;
}

.img-div > img{
    width: 100%;
    background-color: #e5ff00;
    border: 2.5px dashed #faea0d;
}


.text-div{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 500px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-style: italic;
}

.menu-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex:1 0.5 auto;
    gap:50px;
    margin-left: 50px;
}

.pizza-div{
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}

.pizza-div > img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-color: #e5ff00;
    border: 2.5px dashed #faea0d;
}


.item-name{
    display: flex;
    justify-content: center;
    align-items: center;

   letter-spacing: 3px;
   font-family: 'Jim Nightshade';
   font-size: larger;
   color: yellow;
}

.item-desc{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}