html,body{
    margin:0;
    height: 100%;
    background-color: #111111;
    margin: 0;
}

.bg{
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 300%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .5s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.header-container{
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    flex:1 2 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -25px;
    width: 100%;
    max-height: max-content;
    padding-left: 50px;
    gap: 10px;
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 20px;
    text-shadow:5px 5px #64485C;
    text-decoration: underline #e5ff00;
    
    background-color: #83677B;
    font-family: 'Jim Nightshade';
    border-bottom: solid 3px #64485C;
    
}

.logo-header{
    display: flex;
    justify-content: center;
}

.gotham-logo{
    display: flex;
    flex:1 1 auto;
    width: 80px;
    margin-bottom: -30px;
}

.official-web{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    
    margin-top: -35px;
    text-decoration: underline yellow;
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.description{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    font-weight: bolder;
    max-width: 380px;

    text-decoration: underline #64485C;
    text-shadow: none;
    font-size: 25px;
    letter-spacing: 2px;
}

#content{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: transparent;
}

.tab-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    flex: 1 1 auto;
}

button{
    font-family: 'Jim Nightshade';
    border: 4px solid #3a3737;
    color: #ffee00;
    position: relative;
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 1s;
}

button:after,
.corners:before {
  background: #363636;
  color: black;
  content: '|';
  height: 30px;
  position: absolute;
  top: -10px;
  width: 70px;
  box-shadow: 0 5px 10px -7px hsla(0, 0% ,0%, 0.5);
}
button:after {
    left: -30px;
    transform: rotate(-45deg);
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    50% 100%,
    10% 95%,
    0% 90%,
    0% 10%
  )
}
button:before {
    right: -50px;
    transform: rotate(45deg);
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    150% 10%,
    150% 90%,
    190% 50%,
    10% 50%,
    0% 90%,
    0% 10%
    )
}


.tab-home-button:hover,
.tab-menu-button:hover,
.tab-contact-button:hover{
    background-color: #64485C;
    color:#ffee00;
    text-decoration: underline;
    border-radius: 20px;
    text-shadow:2px 2px 2px 2px #111111;
}

.home-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
    margin-top: 50px;
    background-color: transparent;
}

.first-row,
.second-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 70px;
    margin: 0px 30px;
    background-color: transparent;
}

.second-row{
    margin-bottom: 50px;
}

.img-home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    max-height: 500px;
    flex:2 1 500px;
    width: 100%;
}

.img-home-div > img{
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    background-color: #e5ff00;
    border: 3px dotted #808080;

}

.text-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 500px;
    gap: 5px;
    letter-spacing: 1px;
    font-style: italic;
    background-color: transparent;
}

.menu-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: self-end;
    flex:1 0.5 auto;
    gap:50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: transparent;
}

.item-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    flex:1 1 200px;
    background-color: transparent;
}

.image-menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 300px;
    flex:1 1 200px;
    width: 100%;
    border-radius: 5%;
    background-color: transparent;
    box-shadow:2px 2px 5px 5px rgb(251, 255, 0)
}

.image-menu-div > img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    max-height: 250px;
    border-radius: 15px;
    background-color: #e5ff00;
}



.item-name{
    display: flex;
    justify-content: center;
    align-items: center;

   letter-spacing: 3px;
   font-family: 'Jim Nightshade';
   font-size: larger;
   color: yellow;
}

.item-desc{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact,
.schedule{
    display: flex;
    gap: 20px;
}

.contact-text{
    border-top: solid 1px yellow;
    border-bottom: solid 1px yellow;
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    bottom: 0;
    padding: 10px;
    gap: 20px;

    background-color: #111111;
    color: yellow;
}

.github-link{
    color: yellow;
    text-decoration: none;
}
