body{
    margin:0;
background-image: url('../images/background1.webp');
}
.header-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -25px;
    width: 100%;
    padding-left: 50px;
    gap: 20px;
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 20px;
    text-shadow:5px 5px #64485C;
    text-decoration: underline #64485C;
    

    background-color: #83677B;
    font-family: 'Jim Nightshade';
    border-bottom: solid 3px #64485C;
    
}

.gotham-logo{
    width: 80px;
    margin-bottom: -30px;
    /* height: 70px; */
}

.official-web{
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    margin-top: -35px;
    text-decoration: underline yellow;
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.description{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: bolder;
    padding: 0px 25px;

    text-decoration: underline #64485C;
    text-shadow: none;
    font-size: 25px;
    letter-spacing: 2px;
}

.home-content > img{
    width: 1000px;
    border: solid 10px #fceb01;
    border-radius: 10px;
}

.tab-menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

button {
    font-family: 'Fredoka One', cursive;
    border: 4px solid #3a3737;
    color: #ffee00;
    position: relative;
    margin: 2rem 3rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.15rem;
    background-color: transparent;
    cursor: pointer;
}

button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.6rem;
    top: -.5rem;
    z-index: -1;
    background-color: #64485C;
    transition: all 200ms ease-out;
}

button:hover::before {
    top: 0;
    left: 0;
}

.button--bop:active {
    transform: translateY(3px);
}

.button--flick:active {
    animation: flick 640ms infinite;
}

.button--twist:active {
    animation: twist 800ms infinite;
}

.button--spin:active {
    animation: spin 800ms infinite;
}

@keyframes flick {
    0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    }
    67% {
    transform: translate(.4rem, -1.8rem) rotate(160deg) scale(.4);
    }
    100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    }
}

@keyframes twist {
    0% {
    transform: rotate(0deg);
    }
    30% {
    transform: rotate(60deg);
    }
    60% {
    transform: rotate(-20deg);
    }
    100% {
    transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
  
.tab-home-button:hover,
.tab-menu-button:hover,
.tab-contact-button:hover{
    background-color: #64485C;
    color: white;
}

.home-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

